<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Biblioteca</title>
</head>

<body>
	<nav class="bg-[#4A89DC] text-white p-4 flex items-center justify-between">
		<h1 class="text-2xl font-bold">
			<%= title %>
		</h1>
		<div class="flex gap-4">
			<a href="/" class="bg-white text-black px-6 py-2 rounded-lg font-bold hover:bg-gray-200 transition">
				Home
			</a>
			<a href="/libros" class="bg-white text-black px-6 py-2 rounded-lg font-bold hover:bg-gray-200 transition">
				Biblioteca
			</a>
			<a href="/libros/nuevo" class="bg-white text-black px-6 py-2 rounded-lg font-bold hover:bg-gray-200 transition">
				Añadir libro
			</a>
		</div>
	</nav>
</body>